{% block trustpayments_settings_icon %}
    <span class="sw-icon icon--trustpayments-multicolor sw-icon--multicolor">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svg="http://www.w3.org/2000/svg" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:cc="http://creativecommons.org/ns#" contentScriptType="text/ecmascript" zoomAndPan="magnify" contentStyleType="text/css" id="svg2" sodipodi:docname="favicon.svg" version="1.1" width="11.060362mm" preserveAspectRatio="xMidYMid meet" inkscape:version="0.91 r13725" viewBox="0 0 39.190259 41.490075" height="11.709421mm">
  <defs id="defs4"/>
  <sodipodi:namedview fit-margin-left="0" bordercolor="#666666" inkscape:window-height="1503" inkscape:zoom="15.839192" id="base" fit-margin-top="0" inkscape:current-layer="layer1" inkscape:window-y="27" inkscape:cy="25.310826" inkscape:window-x="0" inkscape:cx="30.849409" fit-margin-bottom="0" showgrid="false" fit-margin-right="0" inkscape:pageopacity="0.0" inkscape:document-units="px" inkscape:pageshadow="2" inkscape:window-width="2560" inkscape:window-maximized="1" borderopacity="1.0" pagecolor="#ffffff"/>
  <metadata id="metadata7">
    <rdf:RDF>
      <cc:Work rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage"/>
        <dc:title/>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g inkscape:groupmode="layer" id="layer1" transform="translate(-478.66256,-624.64965)" inkscape:label="Layer 1">
    <path inkscape:connector-curvature="0" d="" id="path4149" style="fill:#000000"/>
    <path inkscape:connector-curvature="0" d="" id="path4147" style="fill:#000000"/>
    <path id="path4955" d="M 19.595703 4.2792969 A 17.604696 17.604696 0 0 0 1.9902344 21.882812 A 17.604696 17.604696 0 0 0 19.595703 39.488281 A 17.604696 17.604696 0 0 0 37.199219 21.882812 A 17.604696 17.604696 0 0 0 34.253906 12.177734 L 33.330078 15.708984 L 33.283203 15.691406 A 14.995509 14.995509 0 0 1 34.589844 21.757812 A 14.995509 14.995509 0 0 1 24.839844 35.796875 L 30.701172 17.785156 L 30.691406 17.783203 L 31.574219 15.068359 L 31.566406 15.066406 L 32.8125 10.296875 A 17.604696 17.604696 0 0 0 29.824219 7.6113281 L 28.882812 10.541016 L 28.865234 10.539062 L 22.537109 29.990234 L 22.546875 29.992188 L 20.355469 36.726562 A 14.995509 14.995509 0 0 1 19.595703 36.753906 A 14.995509 14.995509 0 0 1 17.207031 36.544922 L 25.794922 10.125 L 25.787109 10.123047 L 27.113281 6.0019531 A 17.604696 17.604696 0 0 0 23.332031 4.703125 L 22.394531 7.5527344 L 13.351562 35.375 A 14.995509 14.995509 0 0 1 4.5996094 21.757812 A 14.995509 14.995509 0 0 1 19.595703 6.7617188 A 14.995509 14.995509 0 0 1 19.980469 6.78125 L 20.789062 4.3222656 A 17.604696 17.604696 0 0 0 19.595703 4.2792969 z " style="opacity:1;fill:#e71b5a;fill-opacity:1;stroke:#cc0000;stroke-width:3.98086762;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:0" transform="translate(478.66256,624.64965)"/>
  </g>
</svg>

    </span>
{% endblock %}
